/*Custom Scrollbar*/
::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    overflow: visible;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0f59ee;
}

::-webkit-scrollbar-thumb {
    background-color: #051c4b;
    border-radius: 8px;
    transition: 1s;
}

/*End Custom Scrollbar*/

.padtop {
    top: 2px;
}

.infile {
    width: 475px;
}

.bor-radius {
    border-radius: 25px;
}

.h-40 {
    height: 40px;
}

.roundicon {
    width: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}


/*end  new css datatable*/


div#collapseExample {
    margin: 20px;
}


/*datatable end*/
.apexcharts-legend.center {
    transform: none !important;
}

.dt-buttons {
    margin: 30px 0 30px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    padding: 0;
}

.member_name{
    text-transform: capitalize;
}
.buttons-html5 {
    color: white !important;
    border: 1px solid rgb(163, 175, 187) !important;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(163, 175, 187) 0%, rgb(163, 175, 187) 100%) !important;
}

.dt-buttons button span {
    margin: 10px;
}

.img_setting {
    filter: drop-shadow(2px 3px 7px #011c4b);
}

/*.logo-div {*/
/*    padding: 10px 20px;*/
/*    color: #8492A6;*/
/*    border-color: #8492A6;*/
/*    background-color: #8492A6;*/
/*    border-radius: 0.25rem;*/
/*    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);*/
/*}*/
.colorinput {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.colorinput-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.colorinput-color {
    background-color: #fdfdff;
    border-color: #e4e6fc;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.colorinput-color:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: .25rem;
    left: .25rem;
    height: 1.25rem;
    width: 1.25rem;
    transition: .3s opacity;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center center/50% 50%;
}

.colorinput-input:checked ~ .colorinput-color:before {
    opacity: 1;
}

.gu-transit {
    opacity: .2;
}

.h-1450 {
    height: 1450px !important;
}

.alert-notify {
    display: flex !important;
    max-width: 400px;
    width: auto;
    padding-right: 80px;
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

.nav .active a {
    color: #ffff;
}

.Permission {
    white-space: inherit !important;
}

.Permission span {
    margin: 6px 0px;
    font-size: 12px;
    padding: 2px 10px;
}

.kanban-board .kanban-col .card-list-title {
    padding: 14px 20px;
    border-color: #8492A6;
    background-color: #8492A6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.invoice-scroll {
    overflow: auto;
}

.w-85 {
    width: 85% !important;
}

.main-content .page-content {
    min-height: 758px;
}

.auth-lang {
    position: absolute;
    right: 0;
    top: 20px;
}

.dataTables_paginate {
    margin-bottom: 15px;
}

.img_setting {
    filter: drop-shadow(2px 3px 7px #011c4b);
}

#card-element {
    border: 1px solid #E4E6FC;
    border-radius: 5px;
    padding: 10px;
}

.coupon-apply-btn {
    align-self: flex-end;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.rateing_section {
    overflow: scroll;
}

.footer_bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.success_img {
    height: 100% !important;
}

.border_r {
    border: 1px solid #fff !important;
    border-radius: 5px !important;
}

.pro_max_width{
    max-width: 100%;
    width: 630px;
    height: 360px;
}

.pro_max_width60 {
    max-width: 100%;
    width: 308px;
    height: 175px;
}
.zindex0{
    z-index: 0;
}


.bg-gradient-primary {
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}
.bg-gradient-info {
    background: linear-gradient(50deg, #00B8D9 0, #0077d9 100%) !important;
}
.bg-gradient-dark {
    background: linear-gradient(50deg, #273444 0, #272b44 100%) !important;
}

.font-bold-700{
    font-weight: 700;
}
.media-body svg{
    height: 70px;
}
.white_space{
    white-space: pre-wrap;
}
.pb-14{
    padding-bottom: 14px;
}


table tbody tr {
    background: none;
}

table.dataTable thead th, .datatable-emp table.dataTable thead td, table.dataTable.no-footer {
    border-bottom: 0
}

.table th {
    border: none;
}

.table tr {
    border-top: 1px solid #f0f1f1;
}

.table tbody tr:first-child {
    border-top: none;
}

table thead tr th {
    font-size: 12px;
    color: #011c4b;
    padding: 28px 20px;
}

table thead tr {
    background: #fff;
    border-radius: 15px;
    /*box-shadow: 0 31px 49px rgba(105, 105, 105, 0.09);*/
    position: relative;
}

table tbody {
    background: #fff;
}

table tbody tr td {
    background: #fff;
    padding: 28px 20px;
    color: #a3afbb;
    font-size: 12px;
    font-weight: 600;
}

.table-responsive {
    background: #fff;
    /*box-shadow: 0 31px 49px rgba(105,105,105,0.09);*/
    padding-bottom: 0;
    border-radius: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background: #a3afbb !important;
    font-size: 10px !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 5px 30px !important;
    cursor: pointer !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    margin-left: 10px;
    margin-right: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #0f5ef7 !important;
    font-size: 10px !important;
    font-weight: 600;
    border-radius: 6px !important;
    border-color: #0f5ef7 !important;
    color: #fff !important;
    padding: 5px 10px !important;
}

.dataTables_info {
    font-size: 12px;
    color: #a3afbb !important;
    padding-left: 20px;
}

table {
    margin-bottom: 20px !important;
}

.table td, .table th {
    padding: 15px !important;
}

.dataTables_wrapper .dataTables_filter {
    border: 1px solid #0f5ef7;
    border-radius: 8px;
    height: 40px;
    padding: 0 15px;
    position: relative;
    margin: 30px 30px 30px 0;
}

.dataTables_wrapper .dataTables_length {
    margin: 30px 0 30px 30px;
    border: 1px solid #0f5ef7;
    border-radius: 8px;
    height: 40px;
    background: #0f5ef7;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 15px;
}

.dataTables_wrapper .dataTables_length label {
    margin-bottom: 0;
}

.dataTables_wrapper .dataTables_filter input {
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    line-height: 28px;
    color: #0f5ef7;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_filter label {
    font-weight: 600;
    font-size: 12px;
    color: #0f5ef7;
    float: left;
}

.dataTables_wrapper .dataTables_filter label:before {
    position: absolute;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 16px;
    right: 12px;
    top: 5px;
}

.dataTables_wrapper .dataTables_length select {
    border: none;
    font-size: 12px;
    color: #0f5ef7;
    margin: 0 5px;
    line-height: 40px;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: #fff url('../../assets/img/arrow-drop.png') no-repeat 85% 53%;
    height: 38px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    color: #0f5ef7 !important;
    border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 10px !important;
}

@media (max-width: 767px) {
    .dataTables_wrapper .dataTables_length {
        margin: 30px auto 15px auto;
        width: 180px;
    }

    .dataTables_wrapper .dataTables_filter {
        margin: 0 auto;
        width: 270px;
    }
}

.dt-buttons {
    margin: 30px 0 30px 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    padding: 0;
}

.buttons-html5 {
    color: white !important;
    border: 1px solid rgb(163, 175, 187) !important;
    background: linear-gradient(to bottom, rgb(163, 175, 187) 0%, rgb(163, 175, 187) 100%) !important;

}

div.dt-buttons {
    position: relative;
    float: left;
}
