    .member_name{
        font-size: 12px;
    }
    @media (max-width:426px) {
        .modal-body > div.row{
            max-height: 230px;
            overflow-y: auto;
        }
        .modal-body > div.row>.col-md-8{
            width: 60%;
        }
        @media (max-width: 321px){
            .modal-body > div.row>.col-md-8 {
                width: 50%;
            }
        }
        .modal-body > div.row>.col-md-4{
            width: auto;
        }
        .modal-footer > .col-md-6{
            width: auto;
        }
    }
    @media (min-width: 768px){
        .col-md-6 {
            flex: auto;
            max-width: none;
        }
        .modal-footer > .col-md-6{
            width: auto;
        }
    }
    @media (max-width:1025px) {
        .modal-footer{
            padding: unset;
            padding-bottom: 1.5rem;
        }
        .btn-xs {
            padding: 0.5rem 0.5rem;
            font-size: .75rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
    }
    /* .modal_product_image > img{
        width: 50%;
    } */
    .col-sm-6{
        width: 50%;
    }
    .right-modal-body{
        overflow-y: hidden !important;
        text-align: center;
    }
    @media (max-width:990px) and (min-width:700px) {
        .modal-up {
            position: absolute;
            top: -90% !important;
            width: 100% !important;
            height: auto;
            /* left: -10%; */
            overflow: hidden !important;
            align-self: center;
        }
        .h6, h6 {
            font-size: 0.7rem !important; 
        }
        .modal-body{
            max-height: 50%;
            min-height: 55%;
            overflow-y: scroll;
        }
        .left-modal-footer{
            padding-top: 0;
            display: block;
            
        }
        
    .form-control{
            padding: auto;
            padding: 0;
            width: 60% !important;
            margin: 0;
            height: auto;
        }
    }
    .product_description{
        margin-top: 1rem;
        border-top: 1px dotted #eff2f7;
    }

    /* @media (max-width:600px) and (min-width:425px){
        .form-control{
            width: 80% !important;
        }
    } */

    @media (max-width:2600px) and (min-width:991px) {
        .modal-up {
            position: absolute;
            top: -100% !important;
            width: 110% !important;
            height: auto;
            left: -3%;
            overflow: hidden !important;
            align-self: center;
        }
        .h6, h6 {
            font-size: 0.7rem !important; 
        }
        .modal-body{
            max-height: 50%;
            min-height: 55%;
            /* padding: 4% !important; */
            overflow-y: scroll;
        }
        .left-modal-footer{
            padding-top: 0;
            display: block;
            
        }

        
    .form-control{
            padding: auto;
            padding: 0;
            width: 64% !important;
            margin: 0;
            height: auto;
        }
    }